body {
    margin: 0;
  }

img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.table__container {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: nowrap;
}

.table {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card__container {
    margin: 1px;
    width: 10rem;
    height: 10rem;
}

.card__container.card__face-up .card__turn-over {
    transform: rotateY(180deg)
}
.card__turn-over{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card__front-side,
.card__back-side {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;

}

.card__back-side {
    z-index: 2;
    transform: rotateY(0deg);

}
.card__front-side {
    transform: rotateY(180deg)
}