body {
    margin: 0;
    font-family: 'Oldenburg', cursive;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 7px 34px -6px rgba(0,0,0,0.62);
    -webkit-box-shadow: 2px 7px 34px -6px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 7px 34px -6px rgba(0,0,0,0.62);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%

}

.table__container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%
}

.card__container {
    margin: 1rem;
    width: 15rem;
    height: 15rem;
}

.card__container.card__face-up .card__turn-over {
    transform: rotateY(180deg)
}
.card__turn-over{
    transform-style: preserve-3d;
    position: relative;
}

.card__front-side,
.card__back-side {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;

}

.card__back-side {
    z-index: 2;
    transform: rotateY(0deg);

}
.card__front-side {
    transform: rotateY(180deg)
}