/* BASIC ELEMENTS */

body {
    margin: 0;
    font-family: 'Oldenburg', cursive;

    background-color: #EAEAEA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: #D45E68;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
}

h2 {
    font-size: 20px;
    margin-top: -1rem;
    text-transform: uppercase;
    color: #444
}

@media only screen and (max-width: 600px) {
    h2 {
      font-size: 1em;
    }
}

a {
    color: #E22424;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 7px 34px -6px rgba(0,0,0,0.62);
    -webkit-box-shadow: 2px 7px 34px -6px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 7px 34px -6px rgba(0,0,0,0.62);
}


/* SITE'S CONTAINER */

.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%
}


/* GAME BOARD */

.table__container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%
}

@media only screen and (max-width: 1360px) {
    .table {
      width: 90%;
    }
}

@media only screen and (max-width: 1210px) {
    .table {
      width: 100%;
    }
}


/* SINGLE CARDS */

.card__container {
    margin: 1rem;
    width: 15rem;
    height: 15rem;
}

@media only screen and (max-width: 1090px) {
    .card__container {
        margin: 1rem;
        width: 12rem;
        height: 12rem;
    }
  }

@media only screen and (max-width: 470px) {
    .card__container {
        margin: 1rem;
        width: 8rem;
        height: 8rem;
    }
}